body {
    font-family: lucida handwriting;
    background-color:  lightblue;
    margin-top: 75px;
    color: green;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 250%;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 350px;
}

