body {
    font-family: monotype corsiva;
    background-color:  pink;
    margin-top: 75px;
    color: lightblue;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 250%;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 350px;
}

