body {
    font-family: monotype corsiva;
    background-color:  lightgreen;
    margin-top: 100px;
    color: blue;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 350%;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 350px;
}

